flows/RajScreenFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>RajScreenFlow which is a UI stuff</description>
    <interviewLabel>RajScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RajScreenFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>RajProductNew</name>
        <label>RajProduct</label>
        <locationX>603</locationX>
        <locationY>233</locationY>
        <connector>
            <targetReference>RajProductCreated</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>RajProduct</elementReference>
            </value>
        </inputAssignments>
        <object>RajProduct__c</object>
    </recordCreates>
    <screens>
        <description>RajEnterDetails</description>
        <name>RajEnterDetails</name>
        <label>RajEnterDetails</label>
        <locationX>415</locationX>
        <locationY>225</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RajProductNew</targetReference>
        </connector>
        <fields>
            <name>RajProduct</name>
            <dataType>String</dataType>
            <fieldText>RajProduct</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>RajProductCreated</description>
        <name>RajProductCreated</name>
        <label>RajProductCreated</label>
        <locationX>750</locationX>
        <locationY>243</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Raj_Record_Created</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Thank you , your record is created</stringValue>
            </defaultValue>
            <fieldText>Raj Record Created</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Hey Folks , Welcome to Raj Courses</description>
        <name>RajWelcome</name>
        <label>RajWelcome</label>
        <locationX>138</locationX>
        <locationY>191</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RajEnterDetails</targetReference>
        </connector>
        <fields>
            <name>welcomeText</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Hey how are you</stringValue>
            </defaultValue>
            <fieldText>welcomeText</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>RajWelcome</startElementReference>
    <status>Draft</status>
</Flow>
